/* CSS file to style the dots */
.slick-dots {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  background-color: white;
  opacity: 0.5;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.slick-dots li.slick-active button {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .slick-dots {
    bottom: 10px;
  }
}
